<md-content>
  <div class="contactHeader">
    <div class="titleLineWhite"><span>CONTACT & </span> <span>FAQ</span></div>
    <div class="filterHeader"></div>
  </div>

  <md-tabs md-dynamic-height md-border-bottom md-center-tabs md-selected="selectedIndex" >
    <md-tab label="Nous contacter">
      <div layout="column" layout-align="center stretch">
        <md-content layout="row" layout-align="center center" class="md-padding" style="background:#f1f2f2" layout-wrap>
          <p style="text-align: center;color:#939598" class="flex-100">
            <strong>Contactez-nous via le formulaire de contact ci-dessous.</strong> <br>
            Nos équipes vous répondrons dans les meilleurs délais.
          </p>

          <form class="contactTab flex-50" layout="column" layout-align="center stretch">
            <div layout layout-align="center center" layout-fill>
              <input layout="column" type="text" name="objet" placeholder="Objet" class="trInputFirst flex" ng-model="contact.object" required>
            </div>

            <div layout layout-align="center center" layout-fill>
              <textarea layout="column" type="text" name="message" placeholder="Message" class="trMessage flex" ng-model="contact.message" required></textarea>
            </div>

            <div layout layout-align="end center">
              <md-button class="md-primary md-raised trButton" type="submit" ng-click="sendFormButton()" flex="5">
                Envoyer
              </md-button>
            </div>
          </form>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="FAQ" >
      <div layout="column" layout-align="center stretch">
        <md-content layout="row" layout-align="center center" class="md-padding" style="background:#f1f2f2" layout-wrap>
          <p style="text-align: center;color:#939598" class="flex-100">
            <strong>faq</strong>
          </p>

       
        </md-content>
      </div>
    </md-tab>
  </md-tabs>
</md-content>