<div style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0,0,0,.15);font-size: 16px;line-height: 24px;color: #555;">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td width="400" style="border: 1px solid black;border-collapse: collapse;text-align: left">
                            <img src="'.public_path().'/img/logo-intersession.png" style="width:100%; max-width:150px;height:auto;">
                        </td>
                        <td width="400" style="border: 1px solid black;border-collapse: collapse;text-align: right">
                            Facture #: 123<br>
                            Du: January 1, 2015<br>
                            Au: February 1, 2015
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td width="400" style="border: 1px solid black;border-collapse: collapse;text-align: left">
                            IPSSI<br>
                            Charpenne, Lyon <br>
                            Lyon, 42000
                        </td>
                        <td width="400" style="border: 1px solid black;border-collapse: collapse;text-align: right">
                            John Doe
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="heading">
            <td style="border: 1px solid black;border-collapse: collapse;">
                Mode de paiement
            </td>
            <td style="border: 1px solid black;border-collapse: collapse;">
                A payer
            </td>
        </tr>
        <tr class="details">
            <td style="border: 1px solid black;border-collapse: collapse;">
                CB
            </td>
            <td style="border: 1px solid black;border-collapse: collapse;">
                250
            </td>
        </tr>
        <tr class="heading">
            <td style="border: 1px solid black;border-collapse: collapse;">
                Produit
            </td>
            <td style="border: 1px solid black;border-collapse: collapse;">
                Prix
            </td>
        </tr>
        <tr class="total">
            <td style="border: 1px solid black;border-collapse: collapse;">

            </td>
            <td style="border: 1px solid black;border-collapse: collapse;">
                Total: 250€
            </td>
        </tr>
    </table>
</div>