.button{
    background-color: #E84627 !important;
}
body{
    background-color: #efefef !important; /*#FC6644 #444244 #FF3100*/
}
.logo{
    width:20%;
}
.amazon{
    width:100%;
}
.banniere{
    width: 100%;
    height: 400px;
    padding: 0px;
    background-position: center center !important;
    background-size: cover !important;
    color: #fff;
    display: table;
}
.cloudflare{
    width:70%;
}
.docker{
    width:50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:  #E84627;
    color: white;
    text-decoration: none;
}


.menu{
    border: solid 1px;
    text-align:center;
    margin-top: 50px;
}

.logoMenu{
    width:40%;
    margin-bottom: 20px;
}

.photoProfil{
    width:30%;
}

.profil{
    margin-bottom: 20px;
}

.bloc{
    margin-bottom: 20px;
}

.contenu{
    height:500px;
}
.blocAbonnement{
    min-height: 600px;
    width:300px;
    background-color: white;
    box-shadow:10px 10px 5px #9d9d9d;
}
.LigneDetail{
background-color: #eaeff9;
margin-top: 10px;
height:50px;
padding-top: 15px;
}
.wrapper {
  width: 70px;
  margin: 2em auto 0;
  padding-bottom: 20px !important;
}

.checkmark {
  stroke: #E84627;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  -webkit-animation: dash 2s ease-out forwards infinite;
          animation: dash 2s ease-out forwards infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.month{
  margin-top: 35px;
}
sup{
  font-size: 20px;
}
.colorgrey {
    color: #b8b8b8 !important;
    font-weight: 300 !important;
}
*::-moz-placeholder {
    color: #8b8b8b !important;
}
@media screen and (max-width: 768px) {
  .modal {
      width: 85% !important;
  }
}
