body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.light-blue.lighten-1 {
    background-color: #EFEFEF !important;
    height: 128px;
    position: fixed;
    z-index: 999;
    top: 0;
}

nav .brand-logo {
    padding: 5px;
}

.orange {
    background-color: #E84627 !important;
}

.grey {
    background-color: #EFEFEF !important;
}

.orange-text {
    color: #E84627 !important;
}

.light-align{
    text-align: justify;
}

nav ul {
    margin: 30px auto;
}

#nav-description{
    line-height: 25px;
    padding-right: 40px;
    color: #000000;
}

.img-right img{
    margin-top: 40px;
    float: right;
}
.right-align-2{
    text-align: right;
}
.img-responsive img{
    width: 100%;
}
.img-responsive-faces img{
    width: 100%;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 130px; /* Saf3+, Chrome */
    border-radius: 130px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.img-responsive-50 img{
    width: 50%;
}

.slider-landing{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 3px !important;
}

#owl-presentation .item img{
    display: block;
    width: 100%;
    height: auto;
}

#zindex{
    z-index: -1;
}

h1{
    font-size: 30px !important;
}

p{
    text-align: center !important;
}

#logo-container > img{
    width: 50% !important;
}
#logo-footer > img {
    width: 100% !important;
}

@media screen and (max-width: 767px) {
    #logo-container > img{
        width:100% !important;
    }
}

.light-blue-text {
    color: rgba(232, 70, 39, 0.51) !important;
}

.waves-button-input{
    padding: 18px 0px 0px 0px !important;
}

@media only screen and (min-width: 769px) {
    .seq-pagination li {
        width: 20%;
    }
}

.modal{
    max-height: 80%;
}

.modal1{
    height: 80%;
    width: 100%;
}