.section-title {
    text-align: center;
    margin-bottom: 84px;
}
.section-title h2 span.dark {
    color: #f7f7f7;
}
.section-title h2 span {
    font-size: 104px;
    font-family: 'Source Sans Pro',serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 40%;
    z-index: -1;
}
.section-title h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    display: inline-block;
    z-index: 1;
}
.section-title h2:before, .section-title h2:after {
    content: '';
    width: 48px;
    height: 3px;
    left: -72px;
    background: #222;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section-title h2:after {
    left: auto;
    right: -72px;
}
.service .section-content {
    text-align: center;
    position: relative;
}
.section-content {
    margin-bottom: 72px;
}
.service .section-content > div {
    border-bottom: 1px solid rgba(153,153,153,0.2);
    border-right: 1px solid rgba(153,153,153,0.2);
}
.service .section-content > div {
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 48px;
    transition: .3s;
}
.service .section-content {
    text-align: center;
    position: relative;
}
.service .section-content .icon-block {
    font-size: 36px;
    color: #FC6644;
    margin-bottom: 30px;
}
.service .section-content h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 24px;
}
.service .section-content > div:nth-child(3n) {
    border-right: 0;
}
.service .section-content > div:nth-child(n+4) {
    border-bottom: 0;
    padding-top: 48px;
    padding-bottom: 0;
    margin-bottom: 48px;
}
.clear{
    clear: both;
    padding: 10px 0;
}
.section-content h3{
    color: #848181 !important;
}
.service p, .presentation p{
    text-align: justify !important;
}
#mentions, #cgv, #confidential{
    text-align: justify !important;
}